@font-face {
    font-family: "Montserrat SemiBold";
    src: url('/assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Black Italic";
    src: url('/assets/fonts/Montserrat-Black-Italic.woff2') format('woff2');
    font-display: swap;
}

:root {
    --bg-color: #0a0a0a;
    --text-color: #e5e5e5;
    --secondary-color: #808080;
    --accent-color: #fff;
    --border-color:#353535;
    --hover-color: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::selection {
        background-color: var(--text-color);
        color: var(--bg-color);
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Montserrat SemiBold", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 550px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;

    background: linear-gradient(
        45deg,
        #ff00ff,
        #00a8c6,
        #ff5f00,
        #ff00ff
    );
    background-size: 400% 400%;
    animation: flowGradient 20s ease infinite;

    opacity: 0.15;
    
    filter: blur(80px);

    -webkit-mask-image: linear-gradient(
        to bottom,
        #000000ff 0%,
        #000000b3 20%,
        #00000066 40%,
        #0000001a 70%,
        #00000000 100%
    );
    mask-image: linear-gradient(
        to bottom,
        #000000ff 0%,
        #000000b3 20%,
        #00000066 40%,
        #0000001a 70%,
        #00000000 100%
    );
}

@keyframes flowGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 50px;

    h1 {
        font-family: "Montserrat Black Italic", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-size: 25px;
        color: var(--accent-color);
    }

    .socials {
        display: flex;
        gap: 15px;

        svg {
            width: 20px;
            height: 20px;
            fill: var(--text-color);

            &:hover {
                fill: var(--accent-color);
            }
        }
    }
}

.greeting {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }

    .greeting-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;

        h2 {
            font-size: 20px;
            letter-spacing: -0.5px;
            color: var(--accent-color);
        }

        .location {
            display: flex;
            align-items: center;
            font-size: 16px;
            gap: 5px;
            fill: var(--text-color);

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.info {
    margin-bottom: 50px;
}

.tech-stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 50px;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: var(--bg-color);
        border: 1px solid var(--border-color);
        border-radius: 15px;
        padding: 15px 10px;
        transition: all 0.1s ease;

        svg {
            width: 20px;
            height: 20px;
            fill: #fff;
            transition: fill 0.1s ease;
        }

        &:hover {
            background-color: var(--hover-color);

            svg#swift {
                fill: #f05138;
            }
            svg#rust {
                fill: #dea584;
            }
            svg#c {
                fill: #a9bacd;
            }
            svg#html {
                fill: #e44d26;
            }
            svg#css {
                fill: #1572b6;
            }
            svg#javascript {
                fill: #f0db4f;
            }
        }
    }
}

.work {
    display: grid;
    flex-direction: column;
    margin-bottom: 50px;

    h3 {
        font-size: 12px;
        background-color: var(--hover-color);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        width: fit-content;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: var(--bg-color);
            border: 1px solid var(--border-color);
            border-radius: 25px;
            padding: 15px;

            .head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: var(--secondary-color);

                .date {
                    padding: 7px;
                }

                .source {
                    color: var(--accent-color);
                    background-color: #00ffd053;
                    padding: 7px;
                    border-radius: 10px;

                    &.closed {
                        background-color: #ff2f0053;
                    }
                }
            }

            img {
                width: 100px;
                margin: 0 auto;
            }

            .title {
                font-size: 20px;
                font-weight: 600;
                color: var(--accent-color);
                text-align: center;
            }

            .desc {
                font-size: 13px;
                color: var(--secondary-color);
            }

            .libraries {
                display: flex;
                gap: 5px;
                
                span {
                    color: var(--accent-color);
                    background-color: var(--border-color);
                    padding: 5px 7px;
                    border-radius: 5px;
                    font-size: 10px;
                }
            }

            .project-source {
                background-color: var(--text-color);
                color: var(--bg-color);
                border-radius: 10px;
                padding: 10px;
                margin-top: 5px;
                text-align: center;
                transition: background-color 0.3s;

                &:hover {
                    background-color: var(--accent-color);
                }
            }
        }
    }

    .external {
        position: relative;
        padding-right: 4px;
        margin: 25px auto 0;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: var(--accent-color);
        transform: translateX(-3px);

        &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-top: solid 3px var(--accent-color);
            border-right: solid 3px var(--accent-color);
            border-radius: 2.5px;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%) rotate(45deg);
            transition: transform 0.3s;
        }

        &:hover::before {
            transform: translateX(4px) translateY(-50%) rotate(45deg);
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 15px;
    color: var(--secondary-color);

    .socials {
        display: flex;
        gap: 15px;

        a {
            color: var(--secondary-color);

            &:hover {
                color: #989898;
            }
        }
    }
}

@media (max-width: 600px) {
    body {
        max-width: 100%;
        padding: 0 20px;
    }

    .tech-stack {
        grid-template-columns: repeat(2, 1fr);
    }

    .work .list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px 0 30px;
    }

    .greeting {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .tech-stack {
        gap: 10px;
    }

    .work {
        margin-bottom: 25px;

        .list {
            gap: 10px;
        }

        a {
            margin-top: 25px;
        }
    }

    footer {
        flex-direction: column;
        margin-bottom: 25px;
        gap: 25px;
        align-items: center;
        text-align: center;
    }
}
